<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>JEGGER</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="icon" type="image/x-icon" th:href="@{/images/ikona.jpg}">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
<nav class="navbar">
    <div class="nav_logo">
        <img th:src="@{/images/logo_long.jpg}" alt="JEGGER logo">
    </div>
    <div class="nav_menu">
        <ul>
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/rozliczenia}">Rozliczenia</a></li>
            <li><a th:href="@{/dealerzy}">Dealrzy</a></li>
            <li><a th:href="@{/raporty}">Zadania</a></li>
            <li><a th:href="@{/ustawienia}">Ustawienia</a></li>
        </ul>
    </div>
    <div class="nav_logout">
        <a th:href="@{/logout}"><button>Wyloguj</button></a>
    </div>
</nav>
<div class="page_content">
    <div class="orders_header">
        <div class="orders_header_first">
            <span class="orders_header_first_text">Szczegóły Dealera</span>
        </div>
        <div class="orders_header_second"></div>
    </div>
    <div class="orders_details_container">
        <div class="orders_details_left">
            <table>
                <thead>
                <tr>
                    <th>Szczegół</th>
                    <th>Wartość</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="table_left_align">Numer ID</td>
                    <td><form><input type="text" readonly="readonly" th:value="${dealerDetails.dealer.id}"></form></td>
                </tr>
                <tr>
                    <td class="table_left_align">Firma</td>
                    <td><form><input type="text" readonly="readonly" th:value="${dealerDetails.dealer.company}"></form></td>
                </tr>
                <tr>
                    <td class="table_left_align">Oddział</td>
                    <td><form><input type="text" readonly="readonly" th:value="${dealerDetails.dealer.branch}"></form></td>
                </tr>
                <tr>
                    <td class="table_left_align">NIP</td>
                    <td><form><input type="text" readonly="readonly" th:value="${dealerDetails.dealer.nip}"></form></td>
                </tr>
                <tr>
                    <td class="table_left_align">REGON</td>
                    <td><form><input type="text" readonly="readonly" th:value="${dealerDetails.dealer.regon}"></form></td>
                </tr>
                <tr>
                    <td class="table_left_align">Ulica</td>
                    <td><form><input type="text" readonly="readonly" th:value="${dealerDetails.dealer.street}"></form></td>
                </tr>
                <tr>
                    <td class="table_left_align">Kod pocztowy</td>
                    <td><form><input type="text" readonly="readonly" th:value="${dealerDetails.dealer.postcode}"></form></td>
                </tr>
                <tr>
                    <td class="table_left_align">Miasto</td>
                    <td><form><input type="text" readonly="readonly" th:value="${dealerDetails.dealer.city}"></form></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="orders_details_right">
            <table id="dealers_details_table">
                <thead>
                <tr>
                    <th>ID Dealera</th>
                    <th>Handlowiec</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="handlowcy: ${dealerDetails.handlowcyDealera}">
                        <td th:text="${handlowcy.dealerID}"></td>
                        <td th:text="${handlowcy.handlowiec}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="footer_content">
        Filip Majewski Web Development © Wszystkie prawa zastrzeżone
    </div>
</footer>
</body>
</html>