<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>JEGGER</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="icon" type="image/x-icon" href="/static/images/ikona.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" type="text/css"/>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script src="../static/js/main.js"></script>
</head>
<body>
<nav class="navbar">
    <div class="nav_logo">
        <img src="../static/images/logo_long.jpg" alt="JEGGER logo">
    </div>
    <div class="nav_menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Rozliczenia</a></li>
            <li><a href="#">Dealrzy</a></li>
            <li><a href="#">Raporty</a></li>
            <li><a href="#">Ustawienia</a></li>
        </ul>
    </div>
    <div class="nav_logout">
        <button>Wyloguj</button>
    </div>
</nav>
<div class="page_content">
    <div class="orders_header">
        <div class="orders_header_first">
            <span class="orders_header_first_text">Modyfikuj rozliczenie</span>
        </div>
        <div class="orders_header_second"></div>
    </div>
    <div class="orders_new_container">
        <div class="orders_new_content">
            <form id="addPayoff">
                <div class="orders_new_input_box">
          <span class="orders_new_input_details">
            Numer ID <i id="fav-awesome-info-icon" class="fa-regular fa-circle-question fa-xs"></i>
            <span class="id_tooltip">Modyfikuj Dealera wprowadzając jego numer ID</span>
          </span>
                    <input type="number" required="required" min="1">
                </div>
                <div class="orders_new_input_box">
                    <span class="orders_new_input_details">Firma</span>
                    <input type="text" required="required" value="Kancelaria Doradztwa Finansowego">
                </div>
                <div class="orders_new_input_box">
                    <span class="orders_new_input_details">Oddział</span>
                    <input type="text" required="required" value="Doradztwo">
                </div>
                <div class="orders_new_input_box">
                    <span class="orders_new_input_details">NIP</span>
                    <input type="number" required="required" min="1" value="0123456789">
                </div>
                <div class="orders_new_input_box">
                    <span class="orders_new_input_details">REGON</span>
                    <input type="text" required="required" value="0987654321">
                </div>
                <div class="orders_new_input_box">
                    <span class="orders_new_input_details">Ulica</span>
                    <input type="text" required="required" value="Jesionowa 10">
                </div>
                <div class="orders_new_input_box">
                    <span class="orders_new_input_details">Kod pocztowy</span>
                    <input type="number" required="required" min="1" value="63820">
                </div>
                <div class="orders_new_input_box">
                    <span class="orders_new_input_details">Miasto</span>
                    <input type="text" required="required" value="Piaski">
                </div>
                <div class="orders_new_submit_holder">
                    <input class="orders_modify_submit" type="submit" value="Modyfikuj rozliczenie">
                </div>
            </form>
            <p id="order_already_in_database"></p>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="footer_content">
        Filip Majewski Web Development © Wszystkie prawa zastrzeżone
    </div>
</footer>
</body>
</html>