<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>JEGGER</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="icon" type="image/x-icon" th:href="@{/images/ikona.jpg}">
</head>
<body>
    <nav class="navbar">
        <div class="nav_logo">
            <img th:src="@{/images/logo_long.jpg}" alt="JEGGER logo">
        </div>
        <div class="nav_menu">
            <ul>
                <li><a th:href="@{/home}">Home</a></li>
                <li><a th:href="@{/rozliczenia}">Rozliczenia</a></li>
                <li><a th:href="@{/dealerzy}">Dealrzy</a></li>
                <li><a href="#">Raporty</a></li>
                <li><a th:href="@{/ustawienia}">Ustawienia</a></li>
            </ul>
        </div>
        <div class="nav_logout">
            <button>Wyloguj</button>
        </div>
    </nav>
    <div class="page_content">
        <img th:src="@{/images/szkic.jpg}" id="home_szkic">
    </div>
    <footer class="footer">
        <div class="footer_content">
            Filip Majewski Web Development © Wszystkie prawa zastrzeżone
        </div>
    </footer>
</body>
</html>