<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>JEGGER</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="icon" type="image/x-icon" th:href="@{/images/ikona.jpg}">
</head>
<body>
    <div class="login_container">
        <div class="login_logo_image">
            <img th:src="@{/images/logo_long.jpg}" id="login_logo" alt="JEGGER logo">
        </div>
        <div class="login_content">
            <h1>Logowanie</h1>
            <form action="/home" method="post">
                <label>
                    Email:<br>
                    <input type="text" class="input_text" placeholder="Wpisz email" required="required">
                </label> <br>
                <label>
                    Hasło:<br>
                    <input type="password" class="input_text" placeholder="Wpisz hasło" required="required">
                </label> <br>
                <input type="submit" class="input_submit" value="Zaloguj">
            </form>
            <p id="login_invalid_user"></p>
        </div>
    </div>
</body>
</html>