<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>JEGGER</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  <link rel="icon" type="image/x-icon" th:href="@{/images/ikona.jpg}">

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
  <script th:src="@{js/main.js}"></script>
</head>
<body>
<nav class="navbar">
  <div class="nav_logo">
    <img th:src="@{/images/logo_long.jpg}" alt="JEGGER logo">
  </div>
  <div class="nav_menu">
    <ul>
      <li><a th:href="@{/home}">Home</a></li>
      <li><a th:href="@{/rozliczenia}">Rozliczenia</a></li>
      <li><a th:href="@{/dealerzy}">Dealrzy</a></li>
      <li><a href="#">Raporty</a></li>
      <li><a th:href="@{/ustawienia}">Ustawienia</a></li>
    </ul>
  </div>
  <div class="nav_logout">
    <button>Wyloguj</button>
  </div>
</nav>
<div class="page_content">
  <div class="orders_header">
    <div class="orders_header_first">
      <span class="orders_header_first_text">Nowe rozliczenie</span>
    </div>
    <div class="orders_header_second"></div>
  </div>
  <div class="orders_new_container">
    <div class="orders_new_content">
      <form method="post">
        <div class="orders_new_input_box">
          <span class="orders_new_input_details">Handlowiec Dealera</span>
          <select required="required" th:name="@{hn_dealer}">
            <option hidden value>...</option>
            <option th:each="p : ${handlowcy}" th:value="${p.id}" th:text="${p.handlowiec}" />
            <option value="brak">Brak</option>
          </select>
        </div>
        <div class="orders_new_input_box">
          <span class="orders_new_input_details">Kwota Dealera</span>
          <input type="number" required="required" min="0" th:name="@{kw_dealer}" >
        </div>
        <div class="orders_new_input_box">
          <span class="orders_new_input_details">Kwota Handlowca</span>
          <input type="number" required="required" min="0" th:name="@{kw_handl}">
          <input type="hidden" th:value="${newOrder.nr_fakt}" th:name="@{nr_fakt}">
        </div>
        <div class="orders_new_submit_holder">
          <input class="orders_new_submit" type="submit" value="Dodaj rozliczenie" th:formaction="@{/rozliczenie/new/add}">
          <input class="orders_new_submit" type="submit" value="Dodaj i wyślij" th:formaction="@{/rozliczenie/new/send}">
        </div>
      </form>
      <p id="order_already_in_database"></p>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="footer_content">
    Filip Majewski Web Development © Wszystkie prawa zastrzeżone
  </div>
</footer>
</body>
</html>