<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>JEGGER</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="icon" type="image/x-icon" href="/static/images/ikona.jpg">

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script src="../static/js/main.js"></script>
</head>
<body>
<nav class="navbar">
    <div class="nav_logo">
        <img src="../static/images/logo_long.jpg" alt="JEGGER logo">
    </div>
    <div class="nav_menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Zamówienia</a></li>
            <li><a href="#">Zadania</a></li>
            <li><a href="#">Dealrzy</a></li>
            <li><a href="#">Raporty</a></li>
            <li><a href="#">Ustawienia</a></li>
        </ul>
    </div>
    <div class="nav_logout">
        <button>Wyloguj</button>
    </div>
</nav>
<div class="page_content">
</div>
<footer class="footer">
    <div class="footer_content">
        Filip Majewski Web Development © Wszystkie prawa zastrzeżone
    </div>
</footer>
</body>
</html>